body {
    text-align: center;
    font-size: 30px;
    font-family: monospace, serif;
    margin: 50px;
    background-color: #f4e1d2;
}
.subtitle {
    font-size: 20px;
    font-style: italic;
}

#title  {
    display: block;
    border: 5px solid black;
    border-radius: 10px;
    color: black;
    background-color: #dc143c;
    margin: 20px 100px;


}

.btn {
    display: block;
    margin: 75px;

}

#selection {
    height: 150px;
    width: 175px;
    border: 5px solid black;
    border-radius: 5px;
    margin-right: 25px;
    transition: all .04s ease;
    outline: none;
}
#selection:hover {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
h2 {
    font-size: 60px;
}
.chimp {
    height: 150px;
    width: 175px;
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 40px;
}
.score-board {
    margin: 20px auto;
    border: 3px solid black;
    border-radius: 5px;
    width: 200px;
    color: black;
    font-size: 40px;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #dc143c;
    color: black;
    font-size: 14px;
    padding: 5px 10px;
    
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;

}

#chimp-label {
    position: absolute;
    top: 30px;
    right: -25px;

}

.result {
    margin: 30px;
    font-size: 30px;
}